h1 {
    font-size: xxx-large;
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}


.facilityList {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.governors {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    margin: 5em 15em;
}
}